<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-expand-sm navbar-light bg-secondary px-3 offset-md-0">
            <img src="/image/logo.png" class="rounded-circle mx-2" width="40px" height="40px">
            <h1>Informatic</h1>
            <div class="collapse navbar-collapse align-content-start" id="navbarSupportedContent">
                <ul class="navbar-nav mx-lg-2 mx-md-1 mx-sm-1 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/home}">
                            <i class="fas fa-home mx-1"></i>Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/department}">
                            <i class="fas fa-building mx-1"></i>Phòng ban
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/position}">
                            <i class="fas fa-map-marker-alt mx-1"></i>Chức vụ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employee}">
                            <i class="fas fa-male mx-1"></i>Nhân viên
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/document}">
                            <i class="fas fa-file-image mx-1"></i>Hồ sơ cá nhân
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-phone-volume mx-1"></i>Liên hệ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="align-content-end">
                <div class="row pb-0">
                	<div sec:authorize ="isAuthenticated()">
                		Xin chào: <span sec:authentication = "name">User</span>
                		<p sec:authentication='principal.authorities'>authorities</p>
                	</div>
                </div>
            </div>
        </nav>
	</div>
</body>
</html>