<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Log in</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!--  -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link href="/css/login-style.css" rel="stylesheet">
</head>
<body>	
	<div class="container">
		<div class = "row justify-content-center">
			<div class="col col-md-6 text-center bg-light my-5">
				<form method="post">
					<h1 class="display-4 py-4">LOGIN FORM</h1>
					<div th:if="${param.error}">
						<div class="alert alert-danger">Tên hoặc mật khẩu không hợp lệ.</div>
					</div>
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">Đăng xuất thành công.</div>
					</div>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-user text-info"></i>
							</span>
						</div>
						<input type="text" class="form-control" id="" name="username" aria-describedby="emailHelp" placeholder="Enter your username"> 
					</div>
					<div class="input-group my-3">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fa fa-lock text-info"></i>
							</span>
						</div>
						<input type="password" class="form-control" id="" name="password" placeholder="Password">
					</div>
				  <div>
				  	<button type="submit" class="btn btn-primary">Đăng nhập</button>
				  </div>
				</form>
				<div>
					<span>Bạn chưa tạo tài khoản? <a th:href="@{/signup}">Đăng kí</a></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>