
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link href = "/css/bootstrap.min.css" rel = "stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	</head>
<body>
	<div th:replace="fragments/header :: header"/>
		<div layout:fragment="main-content" class="container">
			<h2>Add New Employees</h2>
			<form action="#" th:action="@{/save_employee}" th:object="${employee}" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label>First name:</label>
					<input class="form-control" type="text" th:field = "*{firstName}" placeholder="First name">
				</div>
				<div class="form-group">
					<label>Last name:</label>
					<input class="form-control" type="text" th:field = "*{lastName}" placeholder="Last name">
				</div>
				<div class="form-group">
					<label>Email:</label>
					<input class="form-control" type="text" th:field = "*{email}" placeholder="Email">
				</div>
				<div class="form-group">
	              <label>Upload Image</label>
	              <input type="file" name="image" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
	              <div class="preview">
	                <img id="file-ip-1-preview" width="200px" height="200px">
	              </div>
            	</div>
				<button type="submit" class="btn btn-primary btn-sm">Thêm mới</button>
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"/>
		<script type="text/javascript" th:src="@{/js/main.js}"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.17.1/bootstrap-table.min.js"></script>
</body>
</html>