<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>
    <header class="masthead mb-auto" th:replace="fragments/header :: header">
        <div class="inner">
        </div>
    </header>
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner text-lg-start" style="margin-bottom: 100px" layout:fragment="main-content">
        </main>
    </div>
    <footer class="mastfoot bg-secondary mt-auto" th:replace="fragments/footer :: footer">
        <div class="inner">
        </div>
    </footer>
</body>
</html>